div(data-role='page') 
  div(data-role='header', data-position="fixed", data-backbtn="false", data-theme="b")
    h1#misobb
      \Followed
    a(data-icon='plus', class='ui-btn-right', href='/discussions/create', data-transition='slideup')
      \New
  div(data-role='content')
    script(type='text/javascript')
      $('ul').listview('refresh');
    ul(data-role='listview')
      - for (var d in discussions)
        li
          h3
            a(href='/' + discussions[d].id) 
              =discussions[d].t
          p
            strong
              =discussions[d].m.u.n
            \:
            =discussions[d].m.b
          p(class='ui-li-aside')
            =discussions[d].m.d
  !=partial('../partials/footer', { locals: { page: "Followed" } })