h1 List of public discussions

p
  a(class='button', href='/discussions/create') New Discussion

- for (var d in discussions)
  div
    h3
      a(href='/' + discussions[d].id) 
        =discussions[d].t
    p
      b=discussions[d].m.n
      :
      =discussions[d].m.b
    span
      =discussions[d].m.d