div(data-role='page') 
  div(data-role='header')
    h1
      \Public
    a(data-icon='plus', class='ui-btn-right', href='/discussions/create', data-transition='slideup')
      New Discussion
  div(data-role='content')
    script(type='text/javascript')
      $('ul').listview('refresh');
    ul(data-role='listview')
      - for (var d in discussions)
        li
          h3
            a(href='/' + discussions[d].id) 
              =discussions[d].t
          p
            strong
              =discussions[d].m.n
            \:
            =discussions[d].m.b
          p(class='ui-li-aside')
            =discussions[d].m.d