div(data-role='page') 
  div(data-role='header', data-backbtn="false", data-theme="b", data-position="fixed")
    h1
      =discussion.t
    a(data-icon="arrow-l", class="ui-btn-left", href="/" + discussion._id, data-transition="slide", data-back="true")
      \Back
  div(data-role='content')
    form(method='post', action='/discussions/update', data-transition="none")
      div
        input(type='hidden', name="discussion_id", value=discussion._id)
        input(type='text', name="title", value=discussion.t)
      div
        input(type='submit', value='Update title')
    br
    image(src="https://chart.googleapis.com/chart?cht=qr&chs=250x250&chl=http://misobb.com/" + discussion._id, class="qr")