div(data-role='page') 
  div(data-role='header')
    h1
      =discussion.t
    a(data-icon="arrow-l", class="ui-btn-left", href="/", data-transition="slide", data-back="true")
      Back Public
  div(data-role='content')
    form(method='post', action='/messages/create')
      input(type="hidden", name="discussion_id",value=discussion._id)
      div
        =user.n
      div
        textarea(name='message')
      div
        input(type='submit', value='Add a message')
    br
    ul(data-role='listview')
      - each m in messages
        li
          p(class='ui-li-aside')
            =m.d
          p
            b=m.u.n
            \:
            =m.b