div(data-role='page') 
  div(data-role='header', data-theme="b", data-position="fixed")
    h1
      =discussion.t
    a(data-icon="arrow-l", class="ui-btn-left", href="/", data-transition="slide", data-back="true")
      \Public
    a(href="/discussions/update/" + discussion._id, data-icon="gear", class="ui-btn-right")
      \More
  div(data-role='content', id="read")
    #create-message
      #avatar-col
        img(src=user.a)
      #form-col
        form(method='post', action='/messages/create')
          input(type="hidden", name="discussion_id", value=discussion._id)
          div
            textarea(name='message', class="contract no-text")
          div
            input(type='submit', value='Add a message')
    ul(data-role='listview')
      - each m in messages
        li
          - if (m.u.a)
            image(src=m.u.a)
          - else
            image(src="/images/avatar_0.png")
          .message-body
            span.text
              b
                =m.u.n 
                \:
              - m.b = m.b.replace(/\n/g,'<br />');
              !{m.b}
            span.info
              =m.d