body {
  background: #dddddd;
}

#flash {
  border: 1px solid #000;
  text-align: center;
  width: 100%;
  margin: 0px auto 10px auto;
  padding: 10px 0;
  font-weight: bold;
  background: yellow;
  display: none;
}

/******************************************************************************
 * HEADER
 *****************************************************************************/

#misobb {
  background: url(/images/logo.png) no-repeat center;
  height: 40px;
  margin:0;
  padding: 0;
  font-size:0;
}

/******************************************************************************
 * LIST
 *****************************************************************************/

.ui-li .ui-btn-inner {
  padding: 7px 40px 7px 15px !important;
}

.ui-li-heading {
  margin: 0 !important;
}

.ui-li-desc {
  margin: 0 !important;
}

/******************************************************************************
 * READ
 *****************************************************************************/

.message-body {
  margin-left : 40px;
  min-height: 45px;
} 
 
span.text {
  font-weight: normal !important;
} 

span.info{
  font-weight: normal !important;
  display: block;
  clear: both;
  color: #aaa;
  font-size: 0.9em;
  margin-top: 3px;
}

.ui-li-thumb {
  margin: 10px 0 10px 5px;
  width: 40px;
  height: 40px;
}

/******************************************************************************
 * CREATE MESSAGE
 *****************************************************************************/

#create-message {
  margin: -15px;
  background: grey;
  padding: 10px 10px 27px 5px;
}

#avatar-col {
  width: 35px;
  float: left;
}

#avatar-col img{
  width: 35px;
  height: 35px;
}

#form-col {
  margin-left: 40px;
}

#form-col textarea {
  width: 100% !important;
  padding: 0 !important;
}

#form-col .ui-btn {
  width: 100% !important;
  padding: 0 !important;
  margin: 5px 0 0 0;
}

#form-col .ui-btn-inner {
  margin: 0;
  padding: 5px;
}

/******************************************************************************
 * OPTIONS
 *****************************************************************************/

.ui-checkbox {
  width: 120px !important;
} 

.participants li {
  min-height: 45px;
}

.participants li img {
  width: 40px;
  height: 40px;
  border-radius: 0;
  margin-left: 10px;
}

.participants h4 {
  margin-left: 45px !important;
}

/******************************************************************************
 * FOOTER
 *****************************************************************************/ 

#footer .ui-btn .ui-btn-inner { 
  padding-top: 30px !important; 
}

#footer .ui-btn .ui-icon {
  width: 30px!important; 
  height: 25px!important; 
  margin-left: -15px !important; 
  box-shadow: none!important; 
  -moz-box-shadow: none!important; 
  -webkit-box-shadow: none!important; 
  -webkit-border-radius: none !important; 
  border-radius: none !important; 
}

#public.ui-btn-active .ui-icon { 
  background:  url(/images/08-chat-dark.png) 50% 50% no-repeat; 
  background-size: 24px 22px; 
}

#public .ui-icon { 
  background:  url(/images/08-chat.png) 50% 50% no-repeat; 
  background-size: 24px 22px; 
}

#followed .ui-icon { 
  background:  url(/images/112-group.png) 50% 50% no-repeat; 
  background-size: 32px 21px;  
}

#followed.ui-btn-active .ui-icon { 
  background:  url(/images/112-group-dark.png) 50% 50% no-repeat; 
  background-size: 32px 21px;  
}

#more.ui-btn-active .ui-icon { 
  background:  url(/images/106-sliders-dark.png) 50% 50% no-repeat;  
  background-size: 24px 24px; 
}

#more .ui-icon { 
  background:  url(/images/106-sliders.png) 50% 50% no-repeat;  
  background-size: 24px 24px; 
}
